/* Stylisation des div "flex" */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header .flex div {
  padding: 15px 25px;
}

/* Stylisation des div "card" */
.card {
  padding: 15px;
  background: var(--light);
  border-radius: 15px;
  transition: transform 0.3s ease;
  margin: 50px 0px;
}

.intro {
  margin: auto;
}

.card img {
  width: 100%;
  margin: auto;
}

.card h3 {
  margin: 15px 0px;
}

.card p {
  margin: 15px 0px;
}

.card button {
  outline: none;
  background: rgba(17, 27, 41, 0.1);
  color: var(--main);
  height: 50px;
  width: 80%;
  margin: 15px 10%;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
}

.cardhover:hover {
  transform: scale(1.1);
}

/* Stylisation des autres composants des pages */
.visits button {
  outline: none;
  background: transparent;
  color: var(--main);
  height: 50px;
  width: 80%;
  margin: 15px 10%;
  font-size: 1em;
  font-weight: bolder;
  border: var(--main) 2px solid;
  border-radius: 10px;
}

.visits {
  padding: 50px 15px;
}

.visits p,
.visits img {
  margin: 15px;
}

.infos-page img {
  width: 100%;
}

.imgs {
  column-gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.imgs div {
  width: 80%;
  margin: 15px 30px;
  display: inline-block;
}

.gallery img {
  width: 100%;
  margin: auto;
}

.imgs .card button {
  transition: transform .3s ease;
}

.imgs .card button:hover {
  transform: scale(1.1);
}

.credits .people {
  display: flex;
  margin: auto;
  justify-content: space-around
}

.credits .card {
  margin: 15px auto;
}

.credits .card p {
  text-align: left;
}

.credits .socials {
  display: flex;
  justify-content: center;
}

.socials button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 25px;
  margin: 15px;
}

.socials a {
  text-decoration: none;
}

form .flex {
  margin: 15px auto;
}

form input, form textarea {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: var(--gray) 2px solid;
  border-left: var(--gray) 1px solid;
  padding: 5px;
  width: 70%;
  margin: 0px 5%;
}

form input[type=submit] {
  outline: none;
  background: rgba(17, 27, 41, 0.1);
  color: var(--main);
  height: 50px;
  width: 80%;
  margin: 15px auto;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .flex {
    flex-direction: row;
  }

  .intro {
    width: 50%;
  }

  .news {
    width: 33%;
    padding: 5px;
  }

  .visits {
    width: 66%;
  }

  .infos-page p {
    padding: 50px;
  }

  .infos-page img {
    margin: 50px;
  }

  .imgs {
    columns: 3;
  }

  .credits .card {
    width: 40%;
  }

  .people {
    width: 60%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .flex {
    flex-direction: row;
  }

  .intro {
    width: 75%;
  }

  .news {
    width: 45%;
    padding: 10px;
  }

  .visits {
    width: 55%;
  }

  .quartier .flex {
    flex-direction: column;
  }
  .quartier .flex img {
    width: 90%;
    margin: 15px auto;
  }

  .infos-page p {
    padding: 20px;
  }

  .infos-page img {
    margin: 20px;
  }

  .imgs {
    columns: 2;
  }

  .people {
    width: 80%;
  }

  .credits .card {
    width: 40%;
  }
}

@media only screen and (max-width: 425px) {
  .flex {
    flex-direction: column;
  }

  .news,
  .visits {
    width: 100%;
  }

  .card {
    width: 80%;
    margin: 50px auto;
  }

  .visits {
    margin: 0;
    padding: 0;
  }

  .quartier img {
    margin: 15px auto;
  }

  .quartier h3 {
    margin-left: 15px;
  }

  .infos-page p {
    padding: 15px;
  }

  .infos-page img {
    margin: 15px auto;
    width: 80%;
  }

  .imgs {
    columns: 1;
    width: 100%;
  }

  .people {
    flex-direction: column;
  }

  .credits .card {
    width: 80%;
  }

  .credits input, .credits textarea {
    margin: auto;
  }

}
